@import 'src/themeSettings';

.button {
	display: inline-flex;
	padding: $spacingSm $spacingBase;

	border-radius: $borderRadiusSm;
	font-weight: $fontWeightSemiBold;

	transition: background-color $easeBase $transTimeSm;
}

.colorDark {
	background-color: $colorGrey100;
	color: $colorLight;

	&:hover {
		background-color: $colorGrey100Hover;
	}
}
