@import 'src/themeSettings';

$layoutSwitch: 'sm';

.wrapper {
	margin-top: $spacingLg;
	padding: $spacingLg 0;

	background: $colorDark;
	color: $colorLight;
}

.siteLinks {
	font-size: $fontSizeSm;

	@include mq($layoutSwitch) {
		display: flex;
	}
}

.siteLinkItem {
	@include mq($layoutSwitch, 'max') {
		text-align: center;
	}

	&:not(:last-child) {
		&::after {
			@include mq($layoutSwitch) {
				content: '|';
				padding-left: $spacingSm;
				padding-right: $spacingSm;
			}
		}
	}
}

.siteLink {
	font-weight: $fontWeightSemiBold;
}

.copyright {
	margin: $spacingBase 0 $spacingLg;
	font-size: $fontSizeXs;

	@include mq($layoutSwitch, 'max') {
		text-align: center;
	}
}

.socialBlock {
	@include mq($layoutSwitch) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.socialLinks {
	display: flex;
	align-items: center;
	justify-content: center;

	@include mq($layoutSwitch) {
		justify-content: flex-start;
		margin-right: $spacingBase;
	}
}

.socialLinkItem {
	&:not(:last-child) {
		margin-right: $spacingBase;
	}
}

.socialLink {
}

.shopLinks {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: $spacingBase;

	@include mq($layoutSwitch) {
		justify-content: flex-end;
		margin-top: 0;
		margin-left: $spacingBase;
	}
}

.shopLinkItem {
	&:not(:last-child) {
		margin-right: $spacingBase;
	}
}

.shopLink {
}
