@import '../../styles/01-settings/colors';
@import '../../styles/01-settings/spacing';
@import '../../styles/01-settings/typography';

.wrapper {
	flex-grow: 1;
}

.title {
	margin-top: $spacingContentTop;
	margin-bottom: 0;

	font-size: $fontSizeH2;
}
