@import 'src/themeSettings';

$itemGapX: $spacingSm;
$itemGapY: $spacingLg;

.wrapper {
	overflow: hidden;
}

.mediaList {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + #{$itemGapX});
	margin-left: -($itemGapX / 2);
	margin-right: -($itemGapX / 2);
	margin-top: -$itemGapY;
}

.mediaItem {
	width: calc(50% - #{$itemGapX});
	margin-left: ($itemGapX / 2);
	margin-right: ($itemGapX/2);
	margin-top: $itemGapY;

	@include mq('sm') {
		width: calc(25% - #{$itemGapX});
	}
}
