@import '../../styles/01-settings/colors';
@import '../../styles/01-settings/sizes';
@import '../../styles/01-settings/typography';

.wrapper {
	background: $colorPrimary;

	box-shadow: 0 2px 7px 0 rgba($colorDark, 0.75);

	color: $colorLight;
}

.innerWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: $headerHeight;
}

.logo {
	font-size: $fontSizeH1;
	font-weight: $fontWeightBold;
}

.buttonWrapper {
	display: flex;
	align-items: center;
	font-weight: $fontWeightSemiBold;
}
