// Brand colors
$colorPrimary: #fbd01e;

// Utility colors
$colorLight: #ffffff;
$colorDark: #2e2e2e;
$colorGrey100: #888888;
$colorGrey200: #d0d4d7;

$colorPositive: #7ede28;
$colorNegative: #ff421e;
