// Font families
$fontFamilySansSerif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
	'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// Font weights
$fontWeightRegular: 400;
$fontWeightBold: 700;

// Font sizes
$fontSizeH1: 36px;
$fontSizeH2: 24px;
$fontSizeH3: 16px;

$fontSizeLg: 20px;
$fontSizeBase: 16px;
$fontSizeSm: 14px;

// Line heights
$lineHeightLg: 1.5;
$lineHeightBase: 1.2;
