@import '../../styles/01-settings/sizes';

.wrapper {
	display: flex;
	flex-shrink: 0;
	width: $iconSizeMd;
	height: $iconSizeMd;

	fill: currentColor;

	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
}
