@import 'src/themeSettings';

.wrapper {
	display: flex;
}

.catLinkWrapper {
	&:not(:last-child) {
		margin-right: $spacingBase;
	}
}

.catLink {
	//
}

.catLinkImgWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 240px;

	background-color: $colorDark;
	border-radius: $borderRadius;

	color: $colorLight;

	transition: background-color $easeBase $transTimeBase;

	.catLink:hover & {
		background-color: $colorDarkHover;
	}
}

.catLinkCategory {
	font-size: $fontSizeBase;
	text-transform: uppercase;
}
